body {
  background-color: rgb(238 238 238);
}

.container-login {
  height: 100vh;
}

h1 {
  color: white;
}

.column-title {
  background-color: #dc3545;
  color: white;
  font-weight: bold;
}

.persistCheck {
  input {
    width: auto !important;
    margin: 0 1rem 0 0;
  }
}

.errmsg {
  font-weight: bold;
  color: red;
}

.form-login {
  max-width: 80%;
  width: 100%;
}
