html,
body,
#root {
  height: 100%;
  min-height: 100%;
}

* {
  // border: 1px solid red;
}

.logo-home {
  max-width: 100px !important;
}

label {
  // color: black;
  font-weight: 600;
}

.f-left {
  float: left;
}

.App {
  height: 100%;
}

@import "./scss/login";
@import "./scss/menu";
@import "./scss/form";
@import "./scss/lieux";
@import "./scss/home";
@import "./scss/patients";
@import "./scss/profil";
@import "./scss/search";
@import "./scss/editProfile";
@import "./scss/editPassword";
@import "./scss/contact";
@import "./scss/table";

// Layout & components

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// Utilities
@import "../../node_modules/bootstrap/scss/utilities/api";
#my-map {
  width: auto;
  height: 500px;
}
